*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/build/
/dist/
/AuctionSystemClient/nbproject/private/
/AuctionSystemLib/build/
/AuctionSystemLib/dist/
/AuctionSystemClient/build/
/AuctionSystemServer/nbproject/private/
/AuctionSystemServer/dist/
/AuctionSystemServer/build/
/AuctionSystemClient/dist/